fastapi==0.115.12
uvicorn==0.34.2
langchain==0.3.24
langchain-openai==0.3.14
langchain-groq==0.3.2
python-dotenv==1.1.0
tqdm==4.67.1
langchain-community==0.3.22
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
langchain-cli==0.0.36
groq==0.23.0
opensearch-py==2.7.1
google-generativeai>=0.8.3
mistralai>=1.7.0
